<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="GamerCoder's Website">

    <meta name="author" content="GamerCoder">

    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,500,700,600" rel="stylesheet" type="text/css">

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/assets/gamercoder.png" rel="apple-touch-icon" type="image/png">
    <link href="/assets/gamercoder.png" rel="icon" type="image/png">

    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/mobile.css" rel="stylesheet">

    {% if page.title %}
    {% assign page_title = page.title | escape | prepend: "GamerCoder | " %}
    {% else %}
    {% assign page_title = site.title | escape %}
    {% endif %}

    <title>{{ page_title }}</title>

    {% if page.summary %}
    {% assign summary = page.summary %}
    {% else %}
    {% assign summary = page.content | strip_html | truncate: 200 %}
    {% endif %}

    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ summary }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://gamercoder.me/assets/gamercoder.png">

    <meta name="theme-color" content="#0e2100">
    <meta name="og:title" content="{{ page_title }}">
    <meta name="og:description" content="{{ summary }}">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="GamerCoder's Personal Website">
    <meta name="og:url" content="{{ page.url }}">
    <meta name="og:image" content="https://gamercoder.me/assets/gamercoder.png">
    <meta name="og:site_name" content="{{ site.title }}">
    <meta name="og:locale" content="en_US">

</head>