<!DOCTYPE html>

<html lang="en">

    {% include head.html %}

    <body>
        <div>
            {% include header.html %}

            {{ content }}
        </div>

        <noscript>Please enable JavaScript for this site.</noscript>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/js-yaml.min.js"></script>
        
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QHH3Z3V9RP"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-QHH3Z3V9RP');
        </script>


        {% include footer.html %}
    </body>

</html>