---
layout: default
---

<div class="demos">

    <h1 class="title">Project Demos</h1>
    <p class="subtitle" style="margin-bottom: 2vh;">Videos and Pictures featuring and demonstrating how my projects work and what they acutally do</p>

    {% for demo in site.data.demos %}
    <div class="demo">
        <h1 class="demo-title">{{ demo.title }}</h1>

        {% if demo.attributes %}
        <div class="demo-attributes">
            {% for attribute in demo.attributes %}
            <a href="{{ attribute.url }}" target="_blank"><img src="{{ attribute.img }}" title="{{ attribute.name }}" alt="{{ attribute.name }}" class="demo-attribute-img"></a>
            {% endfor %}
        </div>
        {% endif %}

        {% if demo.videos %}
        <div class="demo-videos">
            {% for video in demo.videos %}
            <iframe class="demo-video" src="{{ video }}" title="{{ demo.title }}" controls></iframe>
            {% endfor %}
        </div>
        {% endif %}

        {% if demo.pictures %}
        <div class="demo-pictures">
            {% for picture in demo.pictures %}
            <img src="{{ picture }}" alt="{{ demo.title }} Picture" class="demo-picture">
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}

</div>